img {
    height: 30px;
}

mat-form-field,
button {
    width: 90%;
}

h1 {
    text-align: center;
}

button {
    height: 56px;
    max-height: 56px;
}

img {
    height: 24px;
}

#header {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 5%;
}

mat-card{
    padding-top: 20px;
    padding-bottom: 20px;
}