<h1 mat-dialog-title>Reset password</h1>

<mat-dialog-content>
    <mat-form-field appearance='fill'>
        <mat-label>Email</mat-label>
        <input matInput [formControl]='emailControl' type='email'>
        <mat-error>A valid email is required.</mat-error>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <span class="spacer"></span> <button mat-raised-button color="primary" [disabled]='emailControl.invalid'
        (click)="forgotPassword()">Submit</button>
</mat-dialog-actions>