<span *ngIf="userLoaded; else loading">

  <span *ngIf="signedIn; else sign_in">
    <mat-toolbar style="font-size:x-large;">
      <div class="logo"></div> &nbsp; <span>{{title}}</span>
    </mat-toolbar>
    <span class="center">

      <mat-accordion class="main">
        <mat-card style=" margin-top: 50px;">
          <app-timer></app-timer>
        </mat-card>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>checklist</mat-icon>
            </mat-panel-title>
            <mat-panel-description class="prevent-select">To do</mat-panel-description>
          </mat-expansion-panel-header>

          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>pie_chart</mat-icon>
            </mat-panel-title>
            <mat-panel-description class="prevent-select">
              Stats
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>settings</mat-icon>
            </mat-panel-title>
            <mat-panel-description class="prevent-select">
              Configure app and timer settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-settings></app-settings>
        </mat-expansion-panel>
      </mat-accordion>


    </span>
  </span>

</span>

<ng-template #sign_in>
  <app-sign-in></app-sign-in>
</ng-template>

<ng-template #loading>
  <span class="center " id="loading">
    <div style="font-size: xx-large;" class="prevent-select">
      <div class="logo"></div>
      {{title}} <br>
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
  </span>
</ng-template>