<span *ngIf="!loading; else loading_bar">
    <span *ngIf="validWorkEntry; then timer ;else select_label"></span>
</span>

<ng-template #loading_bar>
    <mat-card-footer>
        <mat-progress-bar mode="query"></mat-progress-bar>
    </mat-card-footer>
</ng-template>

<ng-template #select_label>
    <app-labels></app-labels>
</ng-template>

<ng-template #timer>
    <div style="margin: 2%;" class="prevent-select">
        <div style="display: flex;">
            <mat-chip [disableRipple]="!isPaused" (click)="changeLabel()" [matTooltip]="isPaused ? 'change label': ''">
                <mat-icon matChipAvatar [style.color]="label.color">lens</mat-icon> {{label.name}}
            </mat-chip>
            <span class="spacer"></span>
            <span style="padding: 7px;">
                <b>Pomodoro #{{this.session.poms + 1}}</b>
                <i *ngIf="this.session.mode ==='break' && display.secs"> Break</i></span>
        </div>

        <div class="center">
            <div id="timer">
                <div [class]="isPaused? 'flash': ''">{{display.toString()}}</div>
                <div id="timer-actions">
                    <button mat-fab [color]="this.mode === 'pom'? 'warn':'primary'" aria-label="Pause"
                        *ngIf="display.secs" (click)="isPaused? start(true): pause(true)" [matTooltip]="isPaused ? 'start': 'pause'">
                        <mat-icon>{{isPaused? 'play_arrow': 'pause'}}</mat-icon>
                    </button>
                    <button mat-fab color="warn" aria-label="Work" (click)="startWork()" *ngIf="validPom" matTooltip="start pomodoro">
                        <mat-icon>work</mat-icon>
                    </button>
                    <button mat-fab color="primary" aria-label="Start break" *ngIf="validBreak" (click)="startBreak()" matTooltip="start break">
                        <mat-icon>spa</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <mat-card-footer>
        <mat-progress-bar mode="determinate" [value]="progress" *ngIf="target.secs"
            [color]="session.mode==='pom'? 'warn':'primary'"></mat-progress-bar>
    </mat-card-footer>

</ng-template>