#timer {
    text-align: center;
    min-width: 210px;
    font-size: 4em;
    font-weight: bolder;
}

#time{
    min-height: 4em;
}

#timer-actions {
    display: flex;
    justify-content: space-evenly;
}

.flash {
    animation: flashes 1s linear infinite;
}

@keyframes flashes {
    50% {
        opacity: 0;
    }
}