<mat-slide-toggle [checked]="edit" color="primary" (change)="edit =!edit" id="edit-toggle">
    Edit</mat-slide-toggle>

<span *ngIf="edit; else select" id="edit-labels">
    <mat-form-field appearance="fill" id="label-edit-section">
        <mat-label>Edit labels</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter label" [disabled]="form_group.disabled">
            <mat-chip-row *ngFor="let label of labels" (removed)="remove(label)" (click)="editLabel(label)">
                <mat-icon matChipAvatar [style.color]="label.color">lens</mat-icon>
                {{label.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + label.name">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        </mat-chip-grid>
        <form [formGroup]="form_group" id="label-input">
            <span style="display: flex;">
                <input matInput formControlName="color" type="color" id="color-input">
                <input matInput formControlName="name" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    placeholder="Label name... (1 - 24) characters" [matChipInputFor]="chipGrid"
                    (matChipInputTokenEnd)="add()" style="flex: 1;">
            </span>
        </form>
    </mat-form-field>
</span>

<span id="actions">
    <span class="spacer"></span>
    <button mat-raised-button color="primary" *ngIf="!edit" [disabled]="label_control.invalid"
        (click)="selectLabel()">Done</button>
</span>


<ng-template #select>
    <div>
        <div class="center prevent-select" *ngIf="labels.length == 0">
            No labels found <mat-icon>error</mat-icon>
        </div>
        <mat-chip-listbox [formControl]="label_control" aria-label="Label selection" style="margin: 2%">
            <mat-chip-option *ngFor="let label of labels" [value]="label">
                <mat-icon matChipAvatar [style.color]="label.color">lens</mat-icon>
                {{label.name}}
            </mat-chip-option>
        </mat-chip-listbox>
    </div>
</ng-template>