#edit-toggle {
    margin-left: 2%;
    margin-top: 2%;
}

#edit-labels {
    display: flex;
    justify-content: center;
}

#label-edit-section {
    width: 100%;
    margin: 2%;
}

#label-input {
    width: 100%;
    margin-top: 30px
}

#color-input {
    width: 50px;
    height: 40px;
}


#actions {
    display: flex;
    margin: 2%;
}